.page-background {
    background-image: url("../img/Background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 2rem;
    background-repeat: no-repeat;
}

.page-title {
    font-family: fantasy;
    color: #FF6161;
    justify-content: center;
    text-align: center;
}

.description-produit {
    border-style: solid;
    border-color: #FF6161;
    border-radius: 3em;
    border-width: 0.25em;
    background-color: white;
    margin-bottom: 1.5em;

}


.page-form{
    border-style: solid;
    border-color: #FF6161;
    border-radius: 3em;
    border-width: 0.25em;
    background-color: white;
    margin-bottom: 1.5em;
    padding: 1.5em;

}

.aligner-items{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.prix {
    display: flex;
    justify-content: flex-end;
}

hr {
   background-color: #FF6161;
    height: 2px;
    border: none;
}

.img-produit{
    width: 70%;
    margin: auto;
    display: block

}

.img-accueil{
    display: block;
    width: 40%;
    margin: auto;
}

.uk-navbar-container.navbar{
background: none;
}

.logo-nav{
    height: 40px;
}

.uk-offcanvas-bar.eni-offcanvas-bar{
    background-color: #8F1E1E ;
}

.li-nav-text{
    font-size: large;
}

.flash-message{
    border-style: solid;
    border-color: #FF6161;
    border-radius: 3em;

}

h2 {
    text-align: center;
}

.green-font {
    color: #32d296;
}

.red-font{
    color: #FF6161;
}