<!DOCTYPE html>
<html class="page-background"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/regular.min.css">

    <!-- My theme -->
    <link rel="stylesheet" href="/css/pizzeni-style.css"/>

    <meta charset="UTF-8">
    <title layout:fragment="title"> Accueil </title>
</head>

<body >

<nav class= "uk-navbar navbar-base">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li  class="uk-parent"><a th:href="@{/carte}">Notre Carte</a></li>
            <li  class="uk-parent"><a th:href="@{/gestion-produit}" >Ajouter un produit</a></li>
            <li  class="uk-parent"><a th:href="@{/ajout-utilisateur}" >Ajouter un Utilisateur</a></li>
            <li  class="uk-parent"><a th:href="@{/liste-commandes}">Commandes</a></li>
        </ul>

        <a th:href="@{/panier}" class="uk-icon-button" title="panier">
            <i class="fas fa-shopping-basket"></i>
        </a>

        <a sec:authorize="!isAuthenticated" title="Se connecter"  class="uk-icon-button" th:href="@{/login}">
            <i class="fas fa-sign-in-alt"></i></a>
        <a sec:authorize="isAuthenticated" title="Se déconnecter"  class="uk-icon-button" th:href="@{/logout}">
            <i class="fas fa-door-open"></i></a>

    </div>
</nav>
<br>

<!--nos pages s'affichent ici-->
<div layout:fragment="content">
</div>


</body>
</html>