<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/base}">

<div layout:fragment="content">

    <div class="uk-container">
        <h1 class="uk-heading-xlarge uk-flex uk-flex-center uk-flex-middle uk-align-center page-title">
            Commandes à
            préparer
        </h1>
        <div th:each="commande : ${commandes}" th:if="${commande.idEtat == 2}" class="page-form">
            <th:block>
                <h2 th:text="${commande.client.prenom} + ' ' + ${commande.client.nom}">
                </h2>
                <div>
                    <th:block th:switch="${commande.estPaye}">
                        <th:block th:case="false">
                            <span class="red-font">
                            Commande non payée
                                </span>
                        </th:block>
                        <th:block th:case="true" >
                           <span class="green-font"> Commande payée
                           </span>
                        </th:block>
                    </th:block>
                </div>
                <p th:text="'A livrer pour : '+ ${commande.dateHeureLivraison.getDayOfWeek()}
            + ' ' + ${commande.dateHeureLivraison.getDayOfMonth()}
            + ' ' + ${commande.dateHeureLivraison.getMonth()}
            + ' ' + ${commande.dateHeureLivraison.getYear()}">
                </p>
                <p th:text="'A ' + ${commande.dateHeureLivraison.toLocalTime()}">
                </p>
                <div>
                    <th:block th:switch="${commande.livraison}">
                        <th:block th:case="false">
                            A récupérer sur place
                        </th:block>
                        <th:block th:case="true">
                            A livrer
                        </th:block>
                    </th:block>
                </div>
                <p th:text="'Prix total: ' + ${commande.prixTotal} + '€'"></p>



                <div th:each="detailsCommande : ${commande.detailsCommandes}">
                    <div class="aligner-items">
                        <p th:text="'- ' + ${detailsCommande.quantite} + ' ' + ${detailsCommande.produit.nom}">
                    </div>
                </div>

            </th:block>
        </div>
    </div>
</div>